/*
 * CHAT PAGE
 */

@import '../../styles/themes';
@import '../../styles/variables/variables';

.chat-container {
  flex: 1 1 0;
  display: flex;
  overflow-y: auto;
  scroll-behavior: smooth;

  @include themed() {
    background: themify('bg-page');
  }
}

.chat-history {
  flex: 1 1 0;
  padding: $basePadding/2 $basePadding;
}
