/*
 * CHAT PAGE
 */

@import '../../styles/themes';
@import '../../styles/variables/variables';

.chat-container {
  flex: 1 1 0;
  display: flex;
  overflow-y: auto;
  scroll-behavior: smooth;

  @include themed() {
    background: themify('bg-page');
  }
}

.chat-history {
  flex: 1 1 0;
  padding: $basePadding/2 $basePadding;
}

.chat-footer {
  display: flex;
  height: 50px;

  form {
    flex: 1 1 0;
    display: flex;
  }

  input {
    flex: 1 1 0;
    border: none;
    padding: $basePadding/2;
    @include themed() {
      color: themify('text');
      background: themify('bg');
    }
  }

  button {
    appearance: none;
    border: none;
    min-width: 60px;
    @include themed() {
      color: themify('text');
      background: themify('bg');
    }
  }
}
