/*
 * GLOBAL
 */

@import './variables/variables';

body {
  margin: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

#app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
