/*
 * SETTINGS PAGE
 */

@import '../../styles/themes';
@import '../../styles/variables/variables';

.settings-container {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  @include themed() {
    background: themify('bg-page-secondary');
  }
}

.options {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  padding: $basePadding $basePadding * 2;

  form {
    display: flex;
    flex-direction: column;
  }

  .form-field {
    margin: $baseMargin/2 0;
    p {
      color: $secondary;
      margin: 0 0 $baseMargin/2 0;
      font-weight: bold;
    }
    span {
      color: $dark;
      font-size: 0.9em;
    }
  }

  .field-radio {
    label {
      margin-right: $baseMargin;
    }
  }

  .update-button {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    padding: $basePadding/2 $basePadding;
    appearance: none;
    border: none;
  }

  input[type='radio'] {
    margin-right: 6px;
  }
  input[type='text'] {
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9em;
    padding: $basePadding/2;
  }

  select {
    width: 100%;
    height: 40px;
  }

  @include themed() {
    background: themify('bg');
    .form-field {
      p {
        color: themify('text-secondary');
      }
      span {
        color: themify('text');
      }
    }

    input[type='text'] {
      border: 1px solid rgba(themify('primary'), 0.5);
      color: themify('text');
      background: themify('bg');
    }

    select {
      border: 1px solid rgba(themify('primary'), 0.5);
      color: themify('text');
      background: themify('bg');
    }

    .update-button {
      color: themify('text-tertiary');
      background: themify('secondary');
    }
  }
}

.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-sizing: border-box;

  button {
    padding: $basePadding/2 $basePadding;
    appearance: none;
    border: none;
  }

  @include themed() {
    background: themify('bg');

    button {
      color: themify('text-secondary');
      background: themify('bg');
    }
  }
}
