/*
 * HEADER COMPONENT
 */

@import '../../styles/themes';
@import '../../styles/variables/variables';

.main-menu {
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  height: 50px;

  a {
    @extend .link-menu;
  }
  @include themed() {
    background: themify('bg');
  }
}

.link-menu {
  display: flex;
  position: relative;
  padding: $basePadding;
  align-items: center;
  font-weight: 600;
  text-decoration: none;

  @include themed() {
    color: themify('text');
  }
}

.menu-notification {
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: $basePadding/2;
    right: $basePadding/2;
    border-radius: 5px;

    @include themed() {
      background: themify('primary');
    }
  }
}

.menu-active {
  // border-top: 2px solid $transparent;
  @include themed() {
    border-bottom: 2px solid themify('primary');
  }
}

.menu-chat {
  @extend .menu-notification;
}
