/*
 * HEADER COMPONENT
 */

@import '../../styles/themes';
@import '../../styles/variables/variables';

.main-menu {
  display: flex;
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  height: 50px;

  a {
    @extend .link-menu;
  }

  @include themed() {
    background: themify('bg');
  }
}

.link-menu {
  display: flex;
  position: relative;
  padding: $basePadding;
  align-items: center;
  font-weight: 600;
  text-decoration: none;

  @include themed() {
    color: themify('text');
  }
}

.menu-active {
  @include themed() {
    border-bottom: 2px solid themify('primary');
  }
}

.counter-disable {
  display: none;
}
.counter-active {
  font-size: 0.5em;
  font-weight: 400;
  position: absolute;
  top: $basePadding/2;
  right: 5px;
  padding: 2px 5px;
  color: $white;
  border-radius: 50px;
  background: $primary;

  @include themed() {
    background: themify('primary');
  }
}
