$white: #fff;
$lighter: #eee;
$light: #ddd;
$regular: #999;
$dark: #333;
$black: #000;

$primary: #f18c8e;
$primaryLight: #f0b7a4;
$primaryLighter: #f1d1b5;
$secondary: #305f72;
$secondaryLight: #568ea6;

$success: #9dca83;
$danger: #e37a7a;

$transparent: transparent;
$darkTransparent: rgba(0, 0, 0, 0.6);
$whiteTransparent: rgba(255, 255, 255, 0.3);
