// Message Module

.messageWrapper {
  margin-bottom: 20px;
  background: #ccc;
}

.messageData {
}

.messageUsername {
  color: "#555";
  font-size: 0.8em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.messageTime {
  color: red;
  font-size: 0.7em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.messageText {
}
